* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#boton {
  display: block;
  padding: 20px;
  background-color: green;
  color: white;
  width: 120px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid rgb(6, 83, 6);
  /* transition: all 500ms; */
  transition: background 3s, border-radius 1s, border 5s;
}

#boton:hover {
  background: orangered;
  border-radius: 15px;
  border: 5px dashed yellow;
}

.caja {
  width: 250px;
  height: 250px;
  background-color: grey;
  color: white;
  margin-top: 25px;
  border: 5px solid black;
  font-size: 20px;
  text-align: center;
  line-height: 200px;

  /* propiedades para animacion */
  animation: desplazamiento;
  /* duracion total de la animacion */
  animation-duration: 10s;
  /* hace que la animacion se repita infinitamente */
  animation-iteration-count: infinite;
  /* muestra la animacion por parte */
  /* animation-timing-function: steps(10); */
  /* muestra la animacion linealmente */
  /* animation-timing-function: linear; */
}

@keyframes desplazamiento {
  0% {
    margin-left: 0px;
    transform: rotate(0deg);
  }

  25% {
    background-color: purple;
  }

  50% {
    margin-left: 1200px;
    transform: rotate(360deg);
    border-radius: 999px;
  }

  75% {
    background-color: red;
  }

  100% {
    margin-left: 0px;
    transform: rotate(0deg);
  }
}
